<div class="modal fade" id="playerGraphModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <H4 class="modal-title">{firstName} {lastName}</H4>
            </div>
            <div class="modal-body">
                <div id="playerGraphModalBody">

                </div>
            </div>
        </div>
    </div>
</div>