<div class="header-panel shadow-z-2">

</div>
<div class="container-fluid main">
    <div class="row col-xs-3 menu">
        <ul>
            <li class="withripple" data-target="#League">League</li>
            <li class="withripple active" data-target="#MyTeam">My Team</li>
            <li class="withripple" data-target="#Players">Players</li>
            <li class="withripple" data-target="#Standings">Standings</li>
            <li class="withripple" data-target="#Scoreboard">Scoreboard</li>
            <li class="withripple" data-target="#Teams">Teams</li>
        </ul>
    </div>
    <div class="pages col-xs-9">
        <div class="row">
            <div class="well page" id="League" style="display: none;">
                League
            </div>
            <div class="well page active" id="MyTeam">
                MyTeam
            </div>
            <div class="well page" id="Players" style="display: none;">
                Players
            </div>
            <div class="well page" id="Standings" style="display: none;">
                Standings
            </div>
            <div class="well page" id="Scoreboard" style="display: none;">
                Scoreboard
            </div>
            <div class="well page" id="Teams" style="display: none;">
                Teams
            </div>
        </div>
    </div>
</div>
<!-- Modals -->
