.team-image {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  display: block;
  margin: auto;
}

html {
  font-family: Oxigen, Helvetica, Arial;
}

.team-header {
  padding-left: 50px;
}

.team-name {
  text-align: center;
}

.player-image {
  width: 50px;
  height: 50px;
}

.row.team-players {
  margin-left: 20px;

  .H3 {
    text-align: center;
    margin-bottom: 20px;
  }

}

.player-row {
  .row-action-primary {
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.list-group-item-heading .list-group-item-subheading {
  font-size: 14px;
}

.projection {
  display: none;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;

  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.graph-position {
  margin-right: 20px;
}

#testChart {
  max-height: 800px;
  max-width: 800px;
}

select.chart-select {
  width: 50%;
}